.main-container-signup {
    display: flex;
    height: 100%;
}

.left-half-container-signup{
    display: flex;
    justify-content: flex-end;
    width: 60%;
}

.signup-logo {
    position: absolute;
    top: 40px;
}

.left-half-text-div {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0px 15%;
    padding-bottom: 2rem;
    width: 800px;
}

.money-moves-container {
    margin-bottom: 51px;
    margin-top: 161px;
}

.money-moves-span {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -.33px;
    line-height: 32px;
}

.commission-free-container-space {
    margin-top: 17px;
}

.commission-free-container {
    margin-top: -9px;
}

.commission-free {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -.1px;
    line-height: 24px;
}

.form-fields-container {
    margin-top: -16px;
}

.legal-name-warning-container {
    margin-bottom: 16px;
}

.legal-name-warning {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -.1px;
    line-height: 20px;
}

.signup-form-label-container {
    margin-top: 24px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.signup-input {
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    border-color: rgb(227, 233, 237);
    align-items: center;
    display: flex;
    height: 36px;
    padding-left: 12px;
    padding-right: 12px;
    width: 100%;
}

.signup-label {
    width: 100%;
}

.signup-button-container {
    padding-right: 24px;
    padding-top: 24px;
}

.signup-button {
    appearance: none;
    border: 0px;
    font: inherit;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: unset;
    align-items: center;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    cursor: pointer;
    border-radius: 4px;
    background-color: #E15554;
    height: 48px;
    max-width: 420px;
    min-width: 120px;
    padding-left: 48px;
    padding-right: 48px;
    white-space: nowrap;
}

.signup-button-span {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}
