.splash-page-text-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 52px;
}

.splash-page-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 20px;
    border: black solid 1px;
    background-color: rgb(195,245,60);

}

.splash-page-text-container {
    width: 492px;
    height: 653px;
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.splash-page-text-body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -0.24px;
    line-height: 36px;
}

.splash-page-image-container {
    width: 700px;
    height: 600px;
}

.splash-page-img {
    height: 100%;
    object-fit: contain;
}
.splash-signup-container {
    padding-top: 30px;
}

.splash-signup {
    color: white;
    text-decoration: none;
    align-items: center;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
    text-align: center;
    white-space: nowrap;
    padding: 0px 36px;
    height: 48px;
    min-width: 144px;
    border-radius: 24px;
    cursor: pointer;
    background-color: black;
}

.splash-signup-span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    text-decoration: unset;
}
